.bg-container {
  height: 100vh;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counter {
  font-size: 40px;
  font-family: "Roboto";
  font-weight: bold;
  color: brown;
}
.count {
  font-size: 50px;
  font-weight: bold;
  color: red;
}
.button {
  border: none;
  border-radius: 5px;
  padding: 5px 12px 5px 12px;
  outline: none;
  cursor: pointer;
  color: white;
  background-color: blueviolet;
  margin: 20px;
}